@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center"><!--code to keep the text in the center-->

    <!--code to increse the size of heading and to change its size and to bold it-->
    <h1 class="display-4"><b><p style="color:brown;">Welcome to Book rental</b></h1></p>

    <!--code to add image in home page-->
    <img src="~/Images/hm.jpg" height="400" weight"450"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Books are the real friends of human beings. Books are the nation builders, which help to make a country well educated.However,building Web apps with ASP.NET Core</a>.</p>
</div>
